#checkmateField{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.field{
    width: 80px;
    height: 80px;
}
.dark{
    background-color: rgb(44, 44, 214);
}
.light{
    background-color: mistyrose;
}
.columnField{
    position: relative;
    //blackFigure
    .bKing{
        background: url(../img/bKing.svg);
        background-size: 100%;
    }
    .bBishopLeft, .bBishopRight{
        background: url(../img/bBishop.svg);
        background-size: 100%;
    }
    .bKnightLeft, .bKnightRight{
        background: url(../img/bKnight.svg);
        background-size: 100%;
    }

    .bRookLeft,.bRookRight{
        background: url(../img/bRook.svg);
        background-size: 100%;
    }

    .bQueen{
        background: url(../img/bQueen.svg);
        background-size: 100%;
    }
    .bPawn{
        background: url(../img/bPawn.svg);
        background-size: 100%;
    }
    //white figure
    .wPawn{
        background: url(../img/wPawn.svg);
        background-size: 100%;
    }.wKing{
        background: url(../img/wKing.svg);
        background-size: 100%;
    }
    .wBishopLeft, .wBishopRight{
        background: url(../img/wBishop.svg);
        background-size: 100%;
    }
    .wKnightLeft, .wKnightRight{
        background: url(../img/wKnight.svg);
        background-size: 100%;
    }

    .wRookLeft,.wRookRight{
        background: url(../img/wRook.svg);
        background-size: 100%;
    }

    .wQueen{
        background: url(../img/wQueen.svg);
        background-size: 100%;
    }
    .wPawn{
        background: url(../img/wPawn.svg);
        background-size: 100%;
    }
}
.figure{
    position: absolute;
    z-index: 3;
    display: block;
    top:0;
    width: 80px;
    height:80px;
}
    
.activeToMove{
    z-index: 1;
    width: 80px;
    height:80px;
    position: absolute;
    background: radial-gradient(circle, rgba(5, 79, 7, 0.962) 13%, rgba(0,241,255,0.03) 25%);
    border-radius: 50%;
}