@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&family=Raleway:wght@300;400;500;700&display=swap');

header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 130px;
    z-index: 100;
    .logoImg{
        margin-top: -3px;
        width: 20%;
        display: flex;
        align-items: center;
        svg{
            margin-top: -15px;
        }
        p{
            font-size: 34px;
            font-family: "Raleway";
            color: rgb(255, 255, 255);
            line-height: 1.2;
            text-align: right;
        }
    }
    nav{
        width: 50%;
        #mainNav{
            display: flex;
            list-style-type: none;
            justify-content: space-between;
            a{
                text-decoration: none;
                color:white;
            }
        }
    }
    .iconCont{
        display: flex;
        justify-content: left;
        transform: translateY(-30%);
    }
    .searchBar{
        input{
            display: none;
        }
        cursor: pointer;
    }
    .cart{
        margin-left: 20px;
        cursor: pointer;
    }
}
#main{
    position: relative;
    height: 100vh;
    #carouselMain{
        width: 100%;
        z-index: 0;
        top:0;
        position: absolute;
        height: 100%;
        img{
            object-fit: cover;
        }
        .indicatorButton{
            border: none;
            height: 10px;
            width: 10px;
            background: #cfbeaa;
            border-radius: 50%;
            cursor: pointer;
        }
        .active{
            position: relative;
            background: none;
            -webkit-box-shadow: 0 0 0 1px #cfbeaa;
                    box-shadow: 0 0 0 1px #cfbeaa;
        }
    }
    .mainTxt{
        position: relative;
        z-index: 1;
        padding-top: 240px;
        width: 600px;
        margin: auto;
    }
    h2{
        font-size: 36px;
        font-family: "Raleway";
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: center;
    }
    h1{
        font-size: 52px;
        font-family: "Raleway";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
    }
    p{
        font-size: 16px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        line-height: 1.5;
        text-align: center;
        margin: auto;
        width: 562px;
        height: 39px;
    }
    .getStarted{
        border-radius: 3px;
        border: none;
        box-shadow:0px 3px 0px 0px rgba(115, 99, 87, 0.4);
        width: 170px;
        height: 53px;
        background-color: #998675;
        display: block;
        margin: 20px auto 0;
        z-index: 3;

        font-size: 14px;
        font-family: "Raleway";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.643;
        text-align: center;
    }
}
#AboutUs{

}